doctype html(lang="en")
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Mudassir Ali
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/css/main.css')

body
  include navbar-desktop
  .js-sections-wrapper
    include intro
    include about-me
    include resume
    include contact

  include js-scripts
  include google-analytics

  include custom-fonts
