doctype html(lang="en")
head
  title Mudassir Ali
  include meta-tags
  link(rel='stylesheet', href='static/css/main.css')

body
  .container
    #jr-card-widget(data-username="mudassirali")

    div
      .so-card-container
        #so-card-widget(data-userid="1482899" data-theme="minimal")

  include js-scripts
  include google-analytics

  include custom-fonts
