doctype html(lang="en")
head
  title Mudassir Ali
  include meta-tags
  link(rel='stylesheet', href='/css/main.css')

body
  include navbar-desktop
  .js-sections-wrapper
    include intro
    include about-me
    include resume
    include contact

  include js-scripts
  include google-analytics

  include custom-fonts
