section.section.jumbotron.personal-intro(data-anchor="home")
  div.picture-and-name-wrapper
    span
      .profile-pic-wrapper.text-center
        img.img-round(src="/static/img/profile-pic.png", alt="Profile Picture")
      h1.heading.name Mudassir Ali
  h2.text-lighter.designation: span Javascript Frontend Engineer

  .clearfix
    p.lead.summary.col-md-8.col-md-offset-2
        | Web developer for#{' '}
        span.js-experience
        | .#{' '} Most comfortable with Javascript & Ruby although I've written code in Python, Java & C. I do specialize in the Frontend aspect of Web Development.
        br
        br
        | Familiar with BackboneJS, EmberJS, AngularJS, Ruby on Rails, AWS Opsworks, Selenium. Recently started getting into Web Design.