meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="description",
     content="Mudassir Ali is a front end web developer from Hyderabad, India. He loves coding in Javascript and Ruby.")
meta(name="keywords",
     content="Mudassir Ali, Mudassir, Ali, Web Developer, Hyderabad, India, Frontend, Engineer")