nav.navbar.navbar-default.navbar-fixed-bottom.hidden-xs.hidden-sm
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .collapse.navbar-collapse
          ul.nav.navbar-nav.main-nav#main-nav
            li.active(data-menuanchor="home"): a(href="#home")
              i.fa.fa-home.fa-lg
              | Home
            li(data-menuanchor="about"): a(href="#about")
              i.fa.fa-user.fa-lg
              | About
            li(data-menuanchor="resume"): a(href="#resume")
              i.fa.fa-code.fa-lg
              | Resume
            li(data-menuanchor="contact"): a(href="#contact")
              i.fa.fa-envelope.fa-lg
              | Contact