.tab-pane.fade#education(role="tabpanel")
  p
    b Electrical & Electronics Engineering, B.E.(Hons)
    br
    span Birla Institute of Technology & Sciences, Pilani
    br
    small.text-muted Aug, 2008 - May, 2012
  p
    strong CGPA: #{' '}
    span 7.12/10