.tab-pane.active.fade.in#work-exp(role="tabpanel")
  .work-experience-widget
    .timeline
      span.duration.active
        | March 2014
        .text-center to
        | present
      span.duration
        | June 2012
        .text-center to
        | March 2014
      span.duration
        | July 2011
        .text-center to
        | Dec 2011

    .experience-detail
      .title
        strong.role Javascript Frontend Engineer
        |, #{' '}
        span.company Aplopio - Recruiterbox

      p.experience-summary.
        Recruiterbox is the easiest way to receive and manage job applications to your company. It is more efficient than email and simpler than any other recruitment software.

      ul.highlights
        li.
          Working primarily on BackboneJS, developing reusable user interface components and gets involved in UX design.
