.tab-pane.fade#backend
  each keywords, name in skills.backend
    section.section-skills
      header
        h4= name

      .content
        - each keyword in keywords
          .label.label-info.label-skill= keyword