.tab-pane.fade#design
  each keywords, name in skills.design
    section.section-skills
      header
        h4= name

      .content
        - each keyword in keywords
          .label.label-info.label-skill= keyword