.tab-pane.active.fade.in#frontend
  section
    header
      h4 Programming Languages

    .content
      .label.label-info Javascript
      .label.label-info Coffeescript

  section
    header
      h4 Frameworks & Libraries

    .content
      .label.label-info Javascript
      .label.label-info Coffeescript

  section
    header
      h4 Technologies

    .content
      .label.label-info Javascript
      .label.label-info Coffeescript