.tab-pane.fade#testing
  each keywords, name in skills.testing
    section.section-skills
      header
        h4= name

      .content
        - each keyword in keywords
          .label.label-info.label-skill= keyword