.work-experience-widget {
  display: table;
  width: 100%;

  .timeline, .experience-detail {
    display: table-cell;
  }

  .timeline {
    position: relative;
    width: 100px;
    text-align: center;

    .duration {
      .box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
      .transition(background-color 0.5s ease);
      .square(100px);

      text-decoration: none;
      position: relative;
      z-index: 10;
      border: 5px solid white;
      display: table;
      font-weight: 100;
      font-size: 0.9em;
      text-align: center;
      padding: 20px 10px;
      font-family: 'Oswald';
      letter-spacing: 1;
      box-sizing: border-box;
      border-radius: 50%;
      margin-bottom: 20px;
      color: white;
      background-color: @ma-blue-lighter;
      cursor: pointer;

      &.active, &:hover {
        text-decoration: none;
        background-color: @ma-blue;
      }

      &.active {
        cursor: inherit;
      }

      .title {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &:after {
      @width: 10px;

      content: '';
      position: absolute;
      top: 20px;
      bottom: 0;
      width: @width;
      left: 50%;
      margin-left: -@width/2;
      border-radius: 10px;
      background-color: @ma-blue-lighter;
      z-index: 9;
    }
  }

  .experience-detail {
    padding-left: 20px;
    padding-top: 20px;
    vertical-align: top;
    font-size: 1.2em;
  }

  .company {
    font-size: 0.9em;
  }

  .experience-summary, .highlights {
    margin-top: 10px;
  }
}
